body{
    background-color: yellow;
}
h1{
    color: blue;
    text-align: center;
}
button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 45%;
}