body{
    background-color: lightblue;
}
h1{
    color: white;
    text-align: center;
}
button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
}